{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Bobo</title>
    <link rel="icon" href="accounts/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <img src="accounts/static/favicon.ico" alt="BOBO">
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <link rel="icon" href="accounts/static/favicon.ico" type="image/x-icon">
        <p>BOBO</p>
        <p>© 2023 My Website. All rights reserved.</p>
    </footer>
</body>
</html>
