<!DOCTYPE html>
<html>
<head>
<title>Bobo</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="./static/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="./static/css/styles1.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="myPage">

<!-- Sidebar on click-->
<nav class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Close
        <i class="fa fa-remove"></i>
    </a>
    <a href="#" class="closebtn">Link 1</a>
    <a href="#" class="closebtn">Link 2</a>
    <a href="#" class="closebtn">Link 3</a>
    <a href="#" class="closebtn">Link 4</a>
    <a href="#" class="closebtn">Link 5</a>
</nav>

<!-- Navbar -->
<div class="navbar">
    <div class="topnav">
        <a class="bar-item" href="javascript:void(0)" onclick="openNav()">
            <i class="fa fa-bars"></i>
        </a>
        <a href="#" class="bar-item"><i class="fa fa-home"></i></a>
        <a href="#features" class="bar-item">Features</a>
        <a href="#about" class="bar-item">About</a>
        <a href="#team" class="bar-item">Team</a>
        <a href="#contact" class="bar-item">Contact</a>
        
    </div>
    <main id="home">
        <div class="bg-img">
            <div class="container">
                <div class="topnav">
                    <img src="./static/BoboLogo-Black.png" alt="Bobo Logo">
                    <ul>
                        <li><a href="#home" class="active">Home</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <div>
                        <a href="./accounts/signup.html"><button class="signup-button">Sign Up</button></a>
                        <a href="./accounts/login.html"><button class="login-button">Login</button></a>
                    </div>
                </div>
                        
                <div class="hero-text">
                    <h1>Made for Parents.</h1><h1>Built for Kids.</h1>
                    <h3>Creating an enriching experience during your baby's first years.</h3>
                    <input type="email" placeholder="Enter your email address"><a href="./accounts/signup.html"><button class="signup-button">Sign Up</button></a>
                </div>
            </div>
        </div>
    </main>

    <section id="features">
        <div>
            <img src="./static/milestone2.jpg">
            <h2>Celebrate Every Step</h2>
            <p> Track, celebrate, and visualize your child's milestones effortlessly. Gain valuable insights into their development with personalized progress tracking.</p>
        </div>
        
        <div>
            <img src="./static/activities2.jpg">
            <h2>Boost potentials</h2>
            <p> Help your baby thrive with activities tailored to their age and practical guides to reach milestones. Fuel their growth through engaging adventures that boost their brainpower and strength.</p>
        </div>
        
        <div>
            <img src="./static/feeding1.jpg">
            <h2>All-round Advice</h2>
            <p> Get expert guidance on nutrition, health, safety, and parenting essentials. Connect with a supportive community to foster effective cognitive and emotional development.</p>
        </div>
        
        <div>
            <img src="./static/shopping1.jpg">
            <h2>Shop with Ease</h2>
            <p> Explore a diverse collection of baby products effortlessly. Enjoy hassle-free shopping from home and uncover unique, specialized items for your little one.</p>
        </div>
        
        <div>
            <img src="./static/ai.jpg">
            <h2>24/7 Chat with Uncle B</h2>
            <p>Gain valuable parenting insights instantly with our AI-powered assistant. Overcome challenges confidently with accurate answers on all things related to parenting and babies.</p>
        </div>
    </section>

    <section id="about">
        <h2>About</h2>
        <p>Welcome to Bobo, your ultimate support platform for your baby's growth and development. As parents ourselves, we understand the challenges and joys that come with raising a child in those crucial first years. That's why we created Bobo with love and passion, aiming to provide guidance and assistance to parents every step of the way.</p>
        <p>With Bobo, easily track and celebrate your baby's milestones, access a wide range of growth-boosting activities, and expert advice. Enjoy the convenience of one-stop baby shopping with our extensive collection of products. Plus, chat with our AI-powered personal assistant for instant support and answers to your questions.</p>
        <p>At Bobo, our inspiration comes from our own challenging experiences as first-time parents and the pure joy our son brings to our lives. Join us on this incredible journey of watching your little one grow and celebrating the beautiful moments with Bobo.</p>
        <img src="image5.jpg" alt="About Image">
    </section>

    <footer>
        <link rel="icon" href="./static/favicon.ico" type="image/x-icon">
        <p>BOBO</p>
        <p>© 2023 Bobo. All rights reserved.</p>
    </footer>
</body>
</html>
