<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bobo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./static/css/styles1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body id="myPage">
<!-- Navbar -->
<div class="top">
    <div class="bar">
     <a class="bar-item button hide-medium hide-large right " href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="#" class="bar-item button purple"><i class="fa fa-home"></i>Bobo</a>
     <a href="#features" class="bar-item button hide-small">Features</a>
     <a href="#about" class="bar-item button hide-small">About</a>
     <a href="#team" class="bar-item button hide-small">Team</a>
     <a href="#contact" class="bar-item button hide-small">Contact</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="bar-block hide hide-large hide-medium">
        <a href="#features" class="bar-item button">Features</a>
        <a href="#about" class="bar-item button">About</a>
        <a href="#team" class="bar-item button">Team</a>
        <a href="#contact" class="bar-item button">Contact</a>
    </div>
</div>

<!-- Image Header -->
<div class="display-container">
  <img src="./static/Bobo-bg.jpeg" alt="bobo-bg">
  <div class="action">
    <a href="./accounts/signup.html"><button class="signup-button">Sign Up</button></a>
    <a href="./accounts/login.html"><button class="login-button">Login</button></a>
</div>
  <div class="hero-text">
    <h1>Made for Parents.</h1><h1>Built for Kids.</h1>
    <h3>Kindling your baby's journey</h3><h3>with a captivating start...</h3>
    <input type="email" placeholder="Enter your email address"><a href="./accounts/signup.html"><button class="signup-button">Sign Up</button></a>
  </div>
</div>

<!-- Feaatures Container -->
<div class="features" id="features">
    <h2>WHAT WE OFFER</h2> 
<div class="row"><br>
    
<div class="one-third">
    <img src="./static/milestone2.jpg" alt="Milestone" style="width:45%">
    <h3>Celebrate Every Step</h3>
    <p> Track, celebrate, and visualize your child's milestones effortlessly. Gain valuable insights into their development with personalized progress tracking.</p>
</div>
    
<div class="one-third">
    <img src="./static/activities2.jpg" alt="Activity" style="width:45%">
    <h3>Boost potentials</h3>
    <p> Help your baby thrive with activities tailored to their age and practical guides to reach milestones. Fuel their growth through engaging adventures that boost their brainpower and strength.</p>
</div>
    
<div class="one-third">
    <img src="./static/feeding1.jpg" alt="Advice" style="width:45%">
    <h3>All-round Advice</h3>
    <p> Get expert guidance on nutrition, health, safety, and parenting essentials. Connect with a supportive community to foster effective cognitive and emotional development.</p>
</div>

<div class="row"><br>

<div class="one-two">
    <img src="./static/shopping1.jpg" alt="Marketplace" style="width:45%">
    <h3>Shop with Ease</h3>
    <p> Explore a diverse collection of baby products effortlessly. Enjoy hassle-free shopping from home and uncover unique, specialized items for your little one.</p>
</div>

<div class="one-two">
    <img src="./static/ai.jpg" alt="AI-assistant" style="width:45%">
    <h3>24/7 Chat with Uncle B</h3>
    <p>Gain valuable parenting insights instantly with our AI-powered assistant. Overcome challenges confidently with accurate answers on all things related to parenting and babies.</p>
</div>

</div>
</div>
</div>

<!-- About Row -->
<div class="about" id="about">
<h2>WHO WE ARE</h2>
<div class="row"><br>
    <div class="part">
        <div><p>Welcome to Bobo, your ultimate support platform for your baby's growth and development.</p></div>
        <div><p>As parents ourselves, we understand the challenges and joys that come with raising a child in those crucial first years. That's why we created Bobo with love and passion, aiming to provide guidance and assistance to parents every step of the way.</p></div>
        <div><p>With Bobo, easily track and celebrate your baby's milestones, access a wide range of growth-boosting activities, and expert advice. Enjoy the convenience of one-stop baby shopping with our extensive collection of products. Plus, chat with our AI-powered personal assistant for instant support and answers to your questions.</p></div>
    </div>

    <div class="part">
        <div><p>At Bobo, our inspiration comes from our own challenging experiences as first-time parents and the pure joy our son brings to our lives.</p></div>
        <div><p>Join us on this incredible journey of watching your little one grow and celebrating the beautiful moments with Bobo!</p></div>
    </div>
    
    <div class="part">
    <img src="./static/Bobo_abt.JPEG" alt="About Image"><h4>Meet Kendrick (a.k.a Bobo), the charm behind the name and its functionality</h4>
    </div>
</div>
</div>

<!-- Team Row -->
<div class="team" id="team">
<h2>MEET THE TEAM</h2>
<div class="row"><br>

<div class="half">
    <img src="./static/chesah_imgid.jpg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
    <h3>Chesachi Victor Kalu</h3>
    <p>Lead Developer</p>
</div>
        
<div class="half">
    <img src="./static/mayen_imgid.jpeg" alt="Boss" style="width:45%" class="w3-circle w3-hover-opacity">
    <h3>Mayen Kalu</h3>
    <p>Designer & Front-End Developer</p>
</div>
</div>
</div>

<!-- Contact Container -->
<div class="contact-container" id="contact">
    <div class="row">
      <div class="col m5">
      <div class="padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
        <h3>Address</h3>
        <p>Swing by for a cup of coffee, or whatever.</p>
        <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Chicago, US</p>
        <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +00 1515151515</p>
        <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  test@test.com</p>
      </div>
      <div class="w3-col m7">
        <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
        <div class="w3-section">      
          <label>Name</label>
          <input class="w3-input" type="text" name="Name" required>
        </div>
        <div class="w3-section">      
          <label>Email</label>
          <input class="input" type="text" name="Email" required>
        </div>
        <div class="section">      
          <label>Message</label>
          <input class="input" type="text" name="Message" required>
        </div>  
        <input class="check" type="checkbox" checked name="Like">
        <label>I Like it!</label>
        <button type="submit" class="w3-button w3-right w3-theme">Send</button>
        </form>
      </div>
    </div>
  </div>
   
<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
   <h4>Follow Us</h4>
   <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
   <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
   <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
   <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
   <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
   <p>© 2023 Bobo. All rights reserved.</p>

   <div style="position:relative;bottom:100px;z-index:1;" class="tooltip">
      <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
      <a class="button" href="#myPage"><span class="xlarge">
      <i class="fa fa-chevron-circle-up"></i></span></a>
    </div>
</footer>
  
<script>
// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("show") == -1) {
        x.className += "show";
    } else {
        x.className = x.className.replace(" show", "");
    }
}

</script>
  
</body>
</html>